/* Selector{
    Property:value;
} */

/* * {
  text-align: right;
} */

/* element */
body {
  background-image: url(https://images.unsplash.com/photo-1695189353156-ed6d1c612bfc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2072&q=80);
  /* background-size: cover; */
}

p {
  text-align: left;
  color: #aa8439;
  cursor: pointer;
  border: 5px solid rgb(212, 177, 106, 0.5);
}

img {
  float: left;
}

footer {
  clear: both;
  text-align: center;
}

p {
  color: blue;
}

p {
  color: green;
}

/* the above same style shows that it applies the last p style and that's why it's called cascading styles */

li {
  list-style: none;
  display: inline-block;
}

/* class */
.webText:first-child {
  border: 2px dashed rgb(212, 177, 106, 0.5);
}

/* id */
#div1 {
  background-color: rgba(255, 255, 0, 0.3);
}

#div2 {
  background-color: rgb(255, 228, 196, 0.5);
}
