body{
  margin: 0;
}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

h1{
  border-bottom: 2px solid pink;
  border-right: 2px solid pink;
  box-shadow: 3px 3px 8px rgb(178, 144, 150);
  font-family: 'Courier New', Courier, monospace;
  font-size: 3em;
  text-align: center;
  width: fit-content;
}

img{
  width: 450px;
  height: 300px;
  transition: all 1s;
}

img:hover{
  transform: scale(1.025);
}